<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {

    width:320px;
    float:left;
    padding:10px;	 	 
}

</style>
</head>
<header>
	<h1>客户端系统管理</h1>
</header>

<section>
<h1>商品库存浏览</h1>
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/shangpin_type">商品库存按类别浏览</a><br><br>
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/gonghuoshang">商品库存按供货商浏览</a><br>
</section>

<section>
	<h1>商品销售</h1>
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/sell_shangpin">商品销售并开票</a><br>
</section>

<section>
	<h1>系统统计</h1>
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/jinhuo">进货情况</a><br /><br />
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/selling">销售情况</a><br /><br />
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/shangpin_message">商品信息</a><br /><br />
</section>
<section>
	<h1>信息查询</h1>
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/jinhuo">进货情况</a><br /><br />
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/selling">销售情况</a><br /><br />
<a href = "http://127.0.0.1/shenji/thinkphp3.2/thinkphp/index.php/home/guest/shangpin_message">商品信息</a><br /><br />
<a></a><br />
</section>


</html>