
<tr>
	<td>商品编号</td>
	<td>{$shangpin_num}</td>
</tr>
<tr>
	<td>商品名称</td>
	<td>{$shangpin_name}</td>
</tr>
<tr>
	<td>商品种类</td>
	<td>{$shangpin_type}</td>
</tr>
<tr>
	<td>商品价格</td>
	<td>{$shangpin_price}</td>
</tr>

<tr>
	<td>商品规格</td>
	<td>{$shangpin_guige}</td>
</tr>
<tr>
	<td>库存</td>
	<td>{$kucun_count}</td>
</tr>
<tr>
	<td>供货商号</td>
	<td>{$suppler_num}</td>
</tr>
<tr>
	<td colspan="2">-----------------------------------------------------------------------------------------------------------------------------------------</td>

</tr>