<form action = "" method="POST" align = "center">
	<table align = "center">
	  <tr>
	  <td>输入商品编号</td>  
	  <td><input type = "text" name = "shangpin_num"><br /></td>
	  </tr>
	  <tr>
	  <td>输入商品名称</td> 
	  <td><input type = "text" name = "shangpin_name"><br /></td>
	  </tr>
	  <tr>
	  <td>商品类型 </td>
	  <td><input type = "text" name = "shangpin_type"><br /></td>
	  </tr>
	  <tr>
	  <td>输入商品价格</td>  
	  <td><input type = "text" name = "shangpin_price"><br /></td>
      </tr>
      <tr>
	  <td>输入商品规格</td>  
	  <td><input type = "text" name = "shangpin_guige"><br /></td>
      </tr>
      <tr>
	  <td>输入商品数量</td>  
	  <td><input type = "text" name = "kucun_count"><br /></td>
      </tr>
      <tr>
	  <td>输入供货商编号</td>  
	  <td><input type = "text" name = "suppler_num"><br /></td>
      </tr>
      <tr>	
		<td colspan = "2"><input type = "submit" name = "submit" value = "confirm"></td>
		</tr>
</form>